<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Page</title>
</head>

<body>
  <h1>My Page</h1>
  <div style="float: right;">
    <form action="/sign-out?_method=DELETE" method="POST">
      <button type="submit">Logout</button>
    </form>
  </div>
  <div>
    <div>
      <div>Name: <p style="display: inline-block;">{{body.name}}</p></div>
    </div>
    <div>
      <div>Email: <p style="display: inline-block;">{{body.email}}</p></div>
    </div>
  </div>
  <div>
    <button><a href="/secret">Secret Contents</a></button>
  </div>
  <div>
    <button><a href="/">Home</a></button>
  </div>
</body>

</html>